src/main/mule/worldtime-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae913ab7-f07a-4972-8f6b-00745e59b285" basePath="/api">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b7b70aa0-14bf-499a-9d64-054ba71e5910" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtime-demoFlow" doc:id="c407f40f-c4ff-4a30-8e98-6959abbdffce" >
		<http:listener doc:name="Listener" doc:id="a00b882a-3ec8-4f4d-9626-ad37dd8fc94e" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="9b8d3e6d-9f92-4801-8539-a699b2b06805" message="flow started"/>
		<http:request method="GET" doc:name="Request" doc:id="1add61dc-b2fa-48f2-afbe-8100e0378ca9" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city: attributes.uriParams.city,
	region: attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="dcbb455d-74b5-49f1-a20a-74e29c03e22a" message="#[payload]" category="response of worldtimer API"/>
	</flow>
</mule>
